{% extends 'base.html' %}   
{% block contant %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <style>
      .contact_btt a {
        width: 100%;
        float: left;
        font-size: 16px;
        color: #ffffff;
        background-color: #143a51;
        text-align: center;
        padding: 10px 0px;
      }
      .contact_btt{
        width: 169px;
        float: left;
        margin-left: 10px;

    
      }
      
      </style>
  <body>
    <center>
    <div class="header_section haeder_main">

      <div class="page-header" >
        <h2> {{message}} </h2>
        {% if user.is_authenticated %}
        <h2>
        Welcome {{user}}
        In Mikrotik System 
        </h2>
        {% else %}
        <h2>
        Welcome In Mikrotik System 
        can make log in 
        </h2>
        {% endif %}
      </div>


        <div class="contact_btt"><a href="{% url 'all_dvice' %}" >My Dvice</a></div>
        <div class="contact_btt"><a href="{% url 'newdvice' %}" >Add Dvice</a></div>
        <div class="contact_btt"><a href="{% url 'hotspot_create' %}" >creat user</a></div>
        <div class="contact_btt"><a href="{% url 'vpnuser' %}" >VPN user</a></div>
        <div class="contact_btt"><a href="{% url 'logout' %}" >Logout</a></div>


    </div>
  </body>
</html>
{% endblock contant %}





