{% extends 'base.html' %}

{% block contant %}

<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Design by foolishdeveloper.com -->
    <title>NEW Davice </title>
           <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
                 <!-- site metas -->
       
</head>
<body>

  <form method="post">
    <h3>Add Devices</h3>
    
    {% csrf_token %}
    {{ form.as_p }}
    <center>
    <button class="cart_bt" type="submit">Add Device</button>
  </form>
  <div class="cart_bt"><a href="{% url 'all_dvice' %}">All Davice</a></div>


  
{% endblock %}